<%- include('./ejs/includes/head') -%>
    <%- include('./ejs/components/header') -%>
        <style>
            body {
                background: gainsboro;
            }
        </style>
        <div class="j" style="height: 87px;"></div>
        <div class="container bg-white">
            <%- include('./ejs/components/form') -%>
        </div>

        <%- include('./ejs/includes/footer') -%>