<div class="container-fluid img-txt ">
    <div class="row">
        <div class="col-md-6 img" style="min-height: 500px ;background-image: url(http://dev.tomoum.com/wp-content/uploads/2016/06/about-bg-2.jpg);">

        </div>
        <div class="col-md-6 txt" style="padding:4rem">
            <h3>Term Company</h3>
            <p>
                Term Company boasts a range of the world’s finest Handling and heavy equipment brands, It’s team have over forty years experience within the industry and have provided material handling solutions to a diverse range of customers including the electronics
                sector, warehousing and distribution, automotive industry and countless others.
            </p>
            <p>
                Term strives to meet and exceed all of our customers expectations by providing the highest quality products and services with projects completed on time and offering exceptional value for money. Our organisation is committed to offering a professional
                but also personalised service to our customers and can always guarantee an established point of contact.
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6 txt" style="padding:4rem">
            <h3>Term Company</h3>
            <p>
                Term Company boasts a range of the world’s finest Handling and heavy equipment brands, It’s team have over forty years experience within the industry and have provided material handling solutions to a diverse range of customers including the electronics
                sector, warehousing and distribution, automotive industry and countless others.
            </p>
            <p>
                Term strives to meet and exceed all of our customers expectations by providing the highest quality products and services with projects completed on time and offering exceptional value for money. Our organisation is committed to offering a professional
                but also personalised service to our customers and can always guarantee an established point of contact.
            </p>
            <a href="#!" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-md-6 txt" style="padding:4rem; background:#d6d6d6;">
            <h3>Term Company</h3>
            <p>
                Term Company boasts a range of the world’s finest Handling and heavy equipment brands, It’s team have over forty years experience within the industry and have provided material handling solutions to a diverse range of customers including the electronics
                sector, warehousing and distribution, automotive industry and countless others.
            </p>
            <p>
                Term strives to meet and exceed all of our customers expectations by providing the highest quality products and services with projects completed on time and offering exceptional value for money. Our organisation is committed to offering a professional
                but also personalised service to our customers and can always guarantee an established point of contact.
            </p>
            <a href="#!" class="btn btn-primary">Learn more</a>
        </div>

    </div>

</div>