<% var items = [1,1,1,1,1,1,1,1,1,1] %>

    <div class="container pt-4 mt-4">
        <h3 class="slider-title">Section Title</h3>
        <div class="owl-carousel owl-theme indev-slider">
            <% items.map((item)=>{ %>

                <div class="item">
                    <img src="./images/product.jpg" alt="">
                    <h4 class="mt-2 ">Mitsubishi Diesel Forklift 7.0 tonnes</h4>
                </div>
                <% }) %>
        </div>
    </div>