<% var items = [1,1,1,1,1,1,1,1,1,1] %>

    <div class="tesmonials pt-5  pb-5 bg-light">
        <div class="container pb-5 pt-5">
            <h3 class="slider-title text-center">Section Title</h3>
            <div class="owl-carousel owl-theme onecol-slider">
                <% items.map((item)=>{ %>

                    <div class="item text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam voluptas labore natus inventore porro incidunt minima. Nulla molestiae fugit, maiores debitis mollitia officia! Recusandae tempora possimus similique molestias
                            aliquid!
                        </p>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>