<div class="row g-3 align-items-center">
    <div class="col-md-6">

        <label> First Name (required)
                [text* first-name] </label>

    </div>
    <div class="col-md-6">

        <label> last Name (required)
                [text* Last-name] </label>

    </div>
</div>
<div class="row g-3 align-items-center">
    <div class="col-md-6">
        <label> Countery (required)
        [select Countery "Egypt" "USA" "Canda"]

</label>
    </div>
    <div class="col-md-6">

        <label> Company (required)
                [text* company] </label>

    </div>
</div>
<div class="row g-3 align-items-center">
    <div class="col-md-6">
        <label> Job Function (required)
        [select jobFunction "Egypt" "USA" "Canda"]

</label>
    </div>
    <div class="col-md-6">

        <label> Address (required)
                [text* Address] </label>

    </div>
</div>
<div class="row g-3 align-items-center">
    <div class="col-md-6">
        <label> City (required)
            [text* City] </label>
    </div>

    <div class="col-md-3">
        <label class="m0-label"> State (required)
                    [select State "Egypt" "USA" "Canda"]
            
            </label>
    </div>
    <div class="col-md-3">
        <label> Postal Code (required)
                    [text* Postal-Code] </label>
    </div>

</div>