<div class="container-fluid img-txt">
    <div class="row ">
        <div class="col-md-6 img" style="min-height: 300px ;background-image: url(https://images.pexels.com/photos/274108/pexels-photo-274108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940;">
            <div class="mask"></div>
            <div class="text-container">
                <a href="#!">Indevidual product Iine</a>
            </div>
        </div>
        <div class="col-md-6 img" style="min-height:300px;background-image: url(https://images.pexels.com/photos/2523921/pexels-photo-2523921.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
            <div class="mask"></div>
            <div class="text-container">
                <a href="#!">Corporate product Iine</a>
            </div>

        </div>


    </div>
</div>