<% var bg = bg || 'https://via.placeholder.com/1600x900' %>
    <div class="parallax" style="background-image:url(<%= bg %>) ;">
        <div class="mask"></div>
        <div class="container">
            <div class="parallax-content">
                <h3 class="title">Parts and services</h3>
                <p>High quality material produced by Term backed by support of our expert consultants to fulfill a whole range of applications in the energy market.High quality material produced by Term backed by support of our expert consultants to fulfill
                    a whole range of applications in the energy market.High quality material produced by Term backed by support of our expert consultants to fulfill a whole range of applications in the energy market.</p>
                <a href="#/" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>