<% var bg %>
    <div class="prod-banner" style="background-image:url(<%=bg%>); background-position-x: center;background-position-y: 7%;background-repeat: no-repeat;background-size: cover;">
        <div class="mask"></div>
        <div class="bann-content">

            <h1 class="prod-title mb-0">Mitsubishi LP Gas Forklift 4.0 – 5.5 tonnes</h1>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb ms-1">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/indev-filter/">LP GAS FORKLIFT </a></li>
                    <li class="breadcrumb-item active mainColor" aria-current="page">Mitsubishi LP Gas Forklift 4.0 – 5.5 tonnes</li>
                </ol>
            </nav>
        </div>

    </div>