<%- include('./ejs/includes/head') -%>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <%- include('./ejs/views/filter/sidebar') -%>
            </div>
            <div class="col-md-9">
                <%- include('./ejs/views/filter/content') -%>
            </div>
        </div>

    </div>

    <%- include('./ejs/includes/footer') -%>